In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
pd.__version__

'2.3.3'

In [10]:
df['fuel_type'].nunique()

2

In [11]:
df.isnull()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9699,False,False,False,False,False,False,False,False,False,True,False
9700,False,True,False,False,False,False,False,False,False,False,False
9701,False,False,False,False,False,False,False,False,False,False,False
9702,False,False,False,False,False,False,False,False,False,False,False
9703,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df['fuel_efficiency_mpg'].head(50)

0     13.231729
1     13.688217
2     14.246341
3     16.912736
4     12.488369
5     17.271818
6     13.210412
7     12.848884
8     16.823554
9     12.298355
10    13.386605
11    20.504447
12    16.175820
13    18.792742
14    11.871091
15    16.756081
16    17.516176
17    17.658685
18    14.735962
19    15.097137
20    18.889083
21    16.077730
22    17.080405
23    13.738381
24     7.853194
25    15.906422
26    15.089880
27    13.048993
28    13.411266
29    17.349011
30    16.852518
31    14.045645
32    11.029371
33    15.767586
34    15.353788
35    14.671772
36    15.011325
37    11.704658
38    11.645724
39    17.322852
40    18.630009
41    16.890274
42    16.416021
43    15.039797
44    17.600328
45    20.728617
46    15.932777
47    10.089818
48    17.983505
49    11.257268
Name: fuel_efficiency_mpg, dtype: float64

In [13]:
df['vehicle_weight'].sum()

np.float64(29124430.759692907)

In [15]:
median_before = df['horsepower'].median()
most_frequent = df['horsepower'].mode()[0]
df['horspower'] = df['horsepower'].fillna(most_frequent)
median_after = df['horsepower'].median()

In [16]:
print(median_before, most_frequent, median_after)

149.0 152.0 149.0

In [5]:
import numpy as np

In [6]:
V = np.array([
        [1, 1, 2],
        [0, 0.5, 1],
        [0, 2, 1],
        [2, 1, 0],
    ])
U = np.array([
        [2, 4, 5, 6],
        [1, 2, 1, 2],
        [3, 1, 2, 1],
    ])

In [8]:
U.dot(V)

array([[14. , 20. , 13. ],
       [ 5. ,  6. ,  5. ],
       [ 5. ,  8.5,  9. ]])

In [9]:
V.dot(U)

array([[ 9. ,  8. , 10. , 10. ],
       [ 3.5,  2. ,  2.5,  2. ],
       [ 5. ,  5. ,  4. ,  5. ],
       [ 5. , 10. , 11. , 14. ]])