In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/refs/heads/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv'

In [3]:
# !wget $data -O data-week-3.csv

In [4]:
df = pd.read_csv('data-week-3.csv')
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [5]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [6]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [7]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')
df.totalcharges = df.totalcharges.fillna(0)

In [8]:
df.churn = (df.churn == 'yes').astype(int)

# Setting up the validation framework

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [11]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [12]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [13]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [14]:
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [15]:
y_train, y_val, y_test

(array([0, 0, 1, ..., 1, 0, 1], shape=(4225,)),
 array([0, 0, 0, ..., 0, 1, 1], shape=(1409,)),
 array([0, 0, 0, ..., 0, 0, 1], shape=(1409,)))

In [48]:
# del df_train['churn']
# del df_val['churn']
# del df_test['churn']

# EDA

In [16]:
df_full_train = df_full_train.reset_index(drop=True)

In [17]:
df_full_train.churn.value_counts()

churn
0    4113
1    1521
Name: count, dtype: int64

In [18]:
df_full_train.churn.value_counts(normalize=True)

churn
0    0.730032
1    0.269968
Name: proportion, dtype: float64

In [19]:
global_churn_rate = round(df_full_train.churn.mean(), 2)
global_churn_rate

np.float64(0.27)

In [21]:
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [22]:
df_full_train.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [23]:
categorical = ['gender', 'seniorcitizen', 'partner',
       'dependents', 'phoneservice', 'multiplelines',
       'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection',
       'techsupport', 'streamingtv', 'streamingmovies', 'contract',
       'paperlessbilling', 'paymentmethod']

In [24]:
df_full_train[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [26]:
df_full_train.paymentmethod.value_counts()

paymentmethod
electronic_check             1893
mailed_check                 1305
bank_transfer_(automatic)    1219
credit_card_(automatic)      1217
Name: count, dtype: int64

### Feature importance: Churn rate and risk ratio

In [117]:
df_full_train.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
1,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
2,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
3,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
4,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0

In [66]:
churn_female = df_full_train[df_full_train.gender == 'female'].churn.mean()
churn_female

np.float64(0.27682403433476394)

In [67]:
churn_male = df_full_train[df_full_train.gender == 'male'].churn.mean()
churn_male

np.float64(0.2632135306553911)

In [68]:
global_churn = df_full_train.churn.mean()
global_churn

np.float64(0.26996805111821087)

In [73]:
df_full_train.partner.value_counts()

partner
no     2932
yes    2702
Name: count, dtype: int64

In [86]:
churn_partner = df_full_train[df_full_train.partner == 'yes'].churn.mean()
churn_partner

np.float64(0.20503330866025166)

In [103]:
churn_no_partner = df_full_train[df_full_train.partner == 'no'].churn.mean()
churn_no_partner

np.float64(0.3298090040927694)

In [131]:
from IPython.display import display

In [135]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count', 'sum'])
    df_group['diff'] = df_group['mean'] - global_churn
    df_group['risk'] = df_group['mean'] / global_churn
    display(df_group)
    print('-------')

gender

            mean  count  sum      diff      risk
gender
female  0.276824   2796  774  0.006856  1.025396
male    0.263214   2838  747 -0.006755  0.974980

-------
seniorcitizen

                   mean  count   sum      diff      risk
seniorcitizen
0              0.242270   4722  1144 -0.027698  0.897403
1              0.413377    912   377  0.143409  1.531208

-------
partner

             mean  count  sum      diff      risk
partner
no       0.329809   2932  967  0.059841  1.221659
yes      0.205033   2702  554 -0.064935  0.759472

-------
dependents

                mean  count   sum      diff      risk
dependents
no          0.313760   3968  1245  0.043792  1.162212
yes         0.165666   1666   276 -0.104302  0.613651

-------
phoneservice

                  mean  count   sum      diff      risk
phoneservice
no            0.241316    547   132 -0.028652  0.893870
yes           0.273049   5087  1389  0.003081  1.011412

-------
multiplelines

                      mean  count  sum      diff      risk
multiplelines
no                0.257407   2700  695 -0.012561  0.953474
no_phone_service  0.241316    547  132 -0.028652  0.893870
yes               0.290742   2387  694  0.020773  1.076948

-------
internetservice

                     mean  count   sum      diff      risk
internetservice
dsl              0.192347   1934   372 -0.077621  0.712482
fiber_optic      0.425171   2479  1054  0.155203  1.574895
no               0.077805   1221    95 -0.192163  0.288201

-------
onlinesecurity

                         mean  count   sum      diff      risk
onlinesecurity
no                   0.420921   2801  1179  0.150953  1.559152
no_internet_service  0.077805   1221    95 -0.192163  0.288201
yes                  0.153226   1612   247 -0.116742  0.567570

-------
onlinebackup

                         mean  count   sum      diff      risk
onlinebackup
no                   0.404323   2498  1010  0.134355  1.497672
no_internet_service  0.077805   1221    95 -0.192163  0.288201
yes                  0.217232   1915   416 -0.052736  0.804660

-------
deviceprotection

                         mean  count  sum      diff      risk
deviceprotection
no                   0.395875   2473  979  0.125907  1.466379
no_internet_service  0.077805   1221   95 -0.192163  0.288201
yes                  0.230412   1940  447 -0.039556  0.853480

-------
techsupport

                         mean  count   sum      diff      risk
techsupport
no                   0.418914   2781  1165  0.148946  1.551717
no_internet_service  0.077805   1221    95 -0.192163  0.288201
yes                  0.159926   1632   261 -0.110042  0.592390

-------
streamingtv

                         mean  count  sum      diff      risk
streamingtv
no                   0.342832   2246  770  0.072864  1.269897
no_internet_service  0.077805   1221   95 -0.192163  0.288201
yes                  0.302723   2167  656  0.032755  1.121328

-------
streamingmovies

                         mean  count  sum      diff      risk
streamingmovies
no                   0.338906   2213  750  0.068938  1.255358
no_internet_service  0.077805   1221   95 -0.192163  0.288201
yes                  0.307273   2200  676  0.037305  1.138182

-------
contract

                    mean  count   sum      diff      risk
contract
month-to-month  0.431701   3104  1340  0.161733  1.599082
one_year        0.120573   1186   143 -0.149395  0.446621
two_year        0.028274   1344    38 -0.241694  0.104730

-------
paperlessbilling

                      mean  count   sum      diff      risk
paperlessbilling
no                0.172071   2313   398 -0.097897  0.637375
yes               0.338151   3321  1123  0.068183  1.252560

-------
paymentmethod

                               mean  count  sum      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219  205 -0.101797  0.622928
credit_card_(automatic)    0.164339   1217  200 -0.105630  0.608733
electronic_check           0.455890   1893  863  0.185922  1.688682
mailed_check               0.193870   1305  253 -0.076098  0.718121

-------